# Database
DB_ROOT_PASSWORD=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

# Mail (Gmail)
MAIL_USERNAME=
MAIL_PASSWORD=

# AWS S3
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_BUCKET_NAME=

# JWT
JWT_SECRET=

# URL
DOMAIN=
FRONTEND_URL=https://<DOMAIN>

# HTTPS 배포 시 true, 로컬 HTTP 개발 시 false
COOKIE_SECURE=true

# Flask AI
OPENAI_API_KEY=
PUBLIC_DATA_API_KEY=
