@import "pretendard/dist/web/variable/pretendardvariable-dynamic-subset.css";

html,
body,
#root {
  min-height: 100vh;
  margin: 0;
  font-family: "Pretendard Variable", Pretendard, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

.tiptap {
  outline: none;
}

.tiptap :where(p, h1, h2, h3, h4, h5) {
  margin: 0.25em 0;
}

.ant-table-body,
.ant-table-content {
  scrollbar-width: thin;
  scrollbar-color: #eaeaea transparent;
}
