.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 1280px;
  margin: 0 auto;
}

.more {
  color: #1677ff !important;
  padding: 4px;
}

.more:hover {
  color: #69b1ff !important;
}
